.Titulo {
  height: 110px;
  width: 1862px;
  background-image: linear-gradient(to right, lightblue , yellow);
  font-size: 30px;
  top: -5%;
  left: 0%;
  border-radius: 15px;
}

.titulo2{
  font-size: 30px;
  top: 4%;
  left: 40%;
  opacity: 70%;
position: absolute;
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: underline;
color: rgb(0, 0, 0);
}

.infociudad{
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
top: 10px;
}

  .Footer{
background-color: black;
color: white;
height: 220px;
opacity: 80%;
border: solid;
border-color: grey;
width: 2000px;

}

body{
  background-image: linear-gradient(to right, white , grey);
}

.boton{
  background-color: rgb(231, 175, 175);
  height: 40px;
  width: 300px;
}

.imagen1{
  position: relative;
  bottom: 390px;
  left: 1100px;
  width:700px;
 height:390px;
}

.rectangulo{
  background-color: black;
  width: 1050px;
  height: 5px;
  position: relative;
  top: 10px;
}



.carousel-inner{
height: 600px;
position: relative;
bottom: 350px;
}

.empleos{
  position: relative;
  bottom: 300px;
  background-color: lightblue;
}