.body {
  min-height: 100%;
}

.Titulo {
  height: 110px;
  width: 1862px;
  background-image: linear-gradient(to right, lightblue, yellow);
  font-size: 30px;
  top: -5%;
  left: 0%;

  border-color: black;
}

.titulo2 {
  font-size: 30px;
  top: 4%;
  left: 40%;

  position: absolute;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  color: rgb(65, 65, 65);
}

.infociudad {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  top: 30px;
  left: 50px;
}

.Footer {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(26, 26, 26));
  color: white;
  position: absolute;
  top: 1300px;
  height: 845px;
  opacity: 88%;
  border: solid;
  border-color: grey;
  width: 1862px;
  font-size: 25px;
}

.boton {
  position: relative;
  background-image: linear-gradient(to right, lightblue, yellow);
  ;
  height: 60px;
  width: 300px;
  left: 1340px;
  top: 420px;

}

.empleos {
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 670px;
  left: 1130px;
  background-color: antiquewhite;
  width: 700px;
  height: 350px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  border-color: black;
  border: solid;
  border-style: dashed;
  padding: 30px;
}

.imagen1 {
  position: absolute;
  height: 340px;
  width: 340px;
  top: 180px;
  left: 1340px;
  border-radius: 5px;
  border: solid;
  border-color: black;
  border-style: double;
}

.imagen2 {
  position: absolute;
  top: 600px;
  text-align: start;
  left: 40px;

  border-radius: 5px;
  border: solid;
  border-color: black;
  width: 1050px;
  height: 520px;
  border-width: 2px;

}

.rectangulo {
  background-color: black;
  width: 1830px;
  height: 3px;
  position: relative;
  top: 45px;
  left: 15px;
}

.rectangulo2 {
  background-color: black;
  width: 5px;
  height: 20px;
  position: relative;
  top: 32px;
  left: -15px;
}

.rectangulo3 {
  background-color: black;
  width: 3px;
  height: 340px;
  position: relative;
  top: 365px;
  left: 1300px;
}

.rectangulo4 {
  background-color: black;
  width: 1830px;
  height: 4px;
  position: relative;
  left: 15px;
  bottom: 935px;
}

.rectangulo5 {
  background-color: black;
  width: 1830px;
  height: 4px;
  position: relative;
  left: 15px;
  bottom: 870px;
}

.mun {
  position: relative;
  text-align: center;
  left: 15px;
  bottom: 900px;
  font-size: 25px;
}

.trabajos {
  text-align: center;
  width: 851px;
  height: 280px;
  background-color: lightblue;
  position: relative;
  left: 50px;
  font-size: 35px;
  border: solid;
  border-color: rgb(83, 83, 83);
  border-radius: 1%;
}

.trabajos-container2 {
  position: relative;
  bottom: 851px;
  right: 100px;
  float: right;
}

.trabajos-container1 {
  position: relative;
  top: 37px;
}

.datos {
  text-align: left;
  position: relative;
  left: 10px;
  font-size: 15px;
  bottom: 10px;
}

.imgtrabajos {
  position: absolute;
  bottom: 60px;
  left: 550px;
  height: 200px;
  width: 270px;
  border: solid;
  border-color: black;
}

.botoncv {
  position: absolute;



  width: 200px;
  height: 53px;
  border-radius: 5px;
  border-color: black;
  border: solid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(206, 238, 255);
}

.subtitulotrabajos {
  position: relative;
  top: 40px;
  left: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.buscatrab {
  position: relative;
  float: right;
  right: 50px;
  top: 860px;
  height: 80px;
  width: 400px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  background-color: rgb(206, 238, 255);
  font-size: 24px;
  background-image: linear-gradient(to right, lightblue, yellow);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bandera {
  position: relative;
  float: right;
  height: 250px;
  width: 500px;
  bottom: 55px;
  right: 30px;
}

.redes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 300px;
  gap: 50px;
  left: 20px;
  width: 1200px;
}

.redinfo{
  position: relative;
  bottom: 60px;
  left: 120px;
}




.escudo {
  position: absolute;
  width: 60px;
  height: 103px;
  top: 3px;
  right: 640px;
}


.filtrar {
  background-image: linear-gradient(to right, lightblue, yellow);
  float: right;
  position: relative;
  bottom: 30px;
  left: 350px;
  width: 250px;
  height: 40px;
}

.botonroute {
  background-color: lightblue;
  width: 620px;
  height: 35px;
}


.englobador {

  float: right;
  background-color: rgb(189, 225, 225);
  position: relative;
  top: 600px;
  right: 684px;
  font-size: 20px;
  padding: 50px;
  border: solid;
  border-color: black;
  border-radius: 10px;
  font-family: sans-serif;
  box-sizing: content-box;
}


.cv {
  font-size: 35px;

}

.errores {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

.submit {
  border-radius: 5px;
  background-color: yellow;
}

.rectangulo6 {

  text-align: center;
  background-color: black;
  width: 1200px;
  height: 3px;
  position: relative;
  top: 550px;
  left: 360px;
}


.cardscandi {

  top: 50px;
  left: 150px;
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px;
  gap: 20px;
}

.cardsempleos {
  top: 130px;
  left: 150px;
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px;
  gap: 30px;
}


.gmap{
  float: right;
  position: relative;
  bottom: 40px;
  right: 30px;
}

.gmaplogo{
  position: relative;
  bottom: 25px;
  left: 1120px;

}

.derechos {
  position: relative;
  top: 30px;
  font-weight: bold;
  font-size: 25px;
  left: 30px;
}