.body {
  min-height: 100%;
}

/*Componente titulo */
.escudo {
  position: absolute;
  width: 58px;
  height: 97px;
  top: 3px;
  right: 600px;
}

.titulo {
  height: 110px;
  width: 1862px;
  background-image: linear-gradient(to right, lightblue, yellow);
  border-color: black;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  justify-content: center;
  text-decoration: underline;
  color: rgb(65, 65, 65);
  padding-top: 30px;
}

.botonroute {
  background-color: lightblue;
  width: 620px;
  height: 35px;
}

/*Componente Footer */

.Footer {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(26, 26, 26));
  color: white;
  position: absolute;
  top: 1550px;
  height: 705px;
  opacity: 88%;
  border: solid;
  border-color: grey;
  width: 1862px;
  font-size: 25px;
}

.derechos {
  position: relative;
  top: 30px;
  font-weight: bold;
  font-size: 25px;
  left: 30px;
}

.bandera {
  position: relative;
  float: right;
  height: 250px;
  width: 500px;
  bottom: 55px;
  right: 30px;
}

.redes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 300px;
  gap: 50px;
  left: 20px;
  width: 1200px;
  font-size: 26px;
}

.redinfo {
  position: relative;
  bottom: 60px;
  left: 120px;
}


.gmap {
  float: right;
  position: relative;
  bottom: 50px;
  right: 30px;
}

.gmaplogo {
  position: relative;
  bottom: 35px;
  left: 1220px;
}



/*Componente Main */

.subtitulo {
  position: relative;
  left: 40px;
  top: 25px;
  text-decoration: underline;
}

.infociudad {
  font-size: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  top: 50px;
  left: 35px;
  width: 1200px;
  background-color: rgb(221, 240, 255);
  border: solid;
  border-color: black;
  border-radius: 10px;
  padding: 20px;
}

.imagen1 {
  position: absolute;
  height: 353px;
  width: 390px;
  top: 170px;
  left: 1366px;
  border-radius: 5px;
  border: solid;
  border-color: black;
  border-style: double;
}

.fotoss {
  left: 20px;
  height: 670px;
  width: 1200px;
  border-radius: 5px;

}

.carousel {
  top: 140px;
  left: 15px;
  height: 670px;
  width: 1200px;
  border-radius: 10px;
  color: black;
}

.textocarousel {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  opacity: 80%;
}



.empleos {
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 600px;
  left: 1250px;
  background-color: antiquewhite;
  width: 600px;
  height: 700px;
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  border-color: black;
  border: solid;
  border-style: dashed;
  padding: 30px;
}

.boton {
  position: relative;
  background-image: linear-gradient(to right, lightblue, yellow);
  height: 80px;
  width: 350px;
  left: 1386px;
  top: 12px;
  font-size: 23px;

}

.linea1 {
  background-color: black;
  height: 3px;
  width: 550px;
  top: 1424px;
  position: absolute;
  left: 1275px;
}

.linea2 {
  background-color: black;
  height: 3px;
  width: 550px;
  top: 1427px;
  position: absolute;
  left: 40px;
}

.MunicipiodeBahia {
  position: absolute;
  top: 1400px;
  left: 750px;
  font-size: 40px;
}

/*Componente Trabajos */

.subtitulotrabajos {
  position: relative;
  top: 40px;
  left: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.buscatrab {
  position: relative;
  float: right;
  right: 50px;
  top: 1250px;
  height: 80px;
  width: 400px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  background-color: rgb(206, 238, 255);
  font-size: 24px;
  background-image: linear-gradient(to right, lightblue, yellow);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.filtrartrabajos {
  position: relative;
  left: 1400px;
  padding: 8px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #b3b3b3ee;
  width: 350px;
  display: flex;
  gap: 25px;

}

.cardsempleos {
  top: 30px;
  left: 100px;
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px;
  gap: 30px;
}

.cardfoto {
  max-height: 170px;
}

.enviarcv {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/*Componente CV */

.filtrarcandidatos {
  position: relative;
  left: 500px;
  top: 20px;
  padding: 8px;
  font-size: 17px;
  border: 1px solid #ccc;
  background-color: #b3b3b3ee;
  width: 830px;
  display: flex;
  gap: 25px;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.cardscandi {
  top: 50px;
  left: 150px;
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px;
  gap: 20px;
}

.englobador {
  float: right;
  background-color: rgb(189, 225, 225);
  position: absolute;
  font-size: 20px;
  padding: 50px;
  border: solid;
  border-color: black;
  border-radius: 10px;
  font-family: sans-serif;
  box-sizing: content-box;
  width: 630px;
  height: 570px;
  right: 530px;
  top: 830px;
}

.cv {
  font-size: 35px;
  position: relative;
  bottom: 30px;
}

.submit {
  border-radius: 5px;
  background-color: yellow;
}

.rectangulo {
  text-align: center;
  background-color: black;
  width: 1200px;
  height: 3px;
  position: relative;
  top: 615px;
  left: 360px;
}

.labels {
  position: relative;
  bottom: 30px;
}

input {
  border-radius: 5px;
}

.error1 {
  color: rgb(255, 0, 0);
  position: absolute;
  left: 290px;
  top: 33px;
  text-decoration: underline;
}

.error2 {
  color: rgb(255, 0, 0);
  position: absolute;
  left: 290px;
  top: 100px;
  text-decoration: underline;
}

.error3 {
  color: rgb(255, 0, 0);
  position: absolute;
  left: 290px;
  top: 165px;
  text-decoration: underline;
}

.error4 {
  color: rgb(255, 0, 0);
  position: absolute;
  left: 290px;
  top: 230px;
  text-decoration: underline;
}

.error5 {
  color: rgb(255, 0, 0);
  position: absolute;
  left: 290px;
  top: 297px;
  text-decoration: underline;
}