.body {
  min-height: 100%;
}
/*Componente titulo */
.escudo {
  position: absolute;
  width: 60px;
  height: 103px;
  top: 3px;
  right: 535px;
}

.Titulo {
  height: 110px;
  width: 1862px;
  background-image: linear-gradient(to right, lightblue, yellow);
  font-size: 30px;
  top: -5%;
  left: 0%;
  border-color: black;
}

.titulo2 {
  font-size: 45px;
  top: 3%;
  left: 35%;
  position: absolute;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  color: rgb(65, 65, 65);
} 

.botonroute {
  background-color: lightblue;
  width: 620px;
  height: 35px;
}  

/*Componente Footer */

.Footer {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(26, 26, 26));
  color: white;
  position: absolute;
  top: 1550px;
  height: 705px;
  opacity: 88%;
  border: solid;
  border-color: grey;
  width: 1862px;
  font-size: 25px;
} 

.derechos {
  position: relative;
  top: 30px;
  font-weight: bold;
  font-size: 25px;
  left: 30px;
} 

.bandera {
  position: relative;
  float: right;
  height: 250px;
  width: 500px;
  bottom: 55px;
  right: 30px;
} 

.redes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 300px;
  gap: 50px;
  left: 20px;
  width: 1200px;
  font-size: 26px;
}

.redinfo{
  position: relative;
  bottom: 60px;
  left: 120px;
}  


.gmap{
  float: right;
  position: relative;
  bottom: 50px;
  right: 30px;
}

.gmaplogo{
  position: relative;
  bottom: 35px;
  left: 1220px;
} 



/*Componente Main */

.infociudad {
  font-size: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  top: 30px;
  left: 50px;
} 

.rectangulo2 {
  background-color: black;
  width: 5px;
  height: 20px;
  position: relative;
  top: 32px;
  left: -15px;
} 

.imagen1 {
  position: absolute;
  height: 370px;
  width: 390px;
  top: 160px;
  left: 1390px;
  border-radius: 5px;
  border: solid;
  border-color: black;
  border-style: double;
}

.imagen2 {
  position: absolute;
  top: 600px;
  text-align: start;
  left: 35px;
  border-radius: 5px;
  border: solid;
  border-color: black;
  width: 1200px;
  height: 700px;
  border-width: 2px;
}

.empleos {
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 600px;
  left: 1250px;
  background-color: antiquewhite;
  width: 600px;
  height: 700px;
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  border-color: black;
  border: solid;
  border-style: dashed;
  padding: 30px;
}

.boton {
  position: relative;
  background-image: linear-gradient(to right, lightblue, yellow);
  height: 80px;
  width: 350px;
  left: 1386px;
  top: 640px;
  font-size: 23px;
}

.linea1{
  background-color: black;
  height: 3px;
  width: 550px;
  top: 1424px;
  position: absolute;
  left: 1275px;
}

.linea2{
  background-color: black;
  height: 3px;
  width: 550px;
  top: 1427px;
  position: absolute;
  left: 40px;
}

.MunicipiodeBahia{
  position: absolute;
  top: 1400px;
  left: 750px;
  font-size: 40px;
}

/*Componente Trabajos */

.subtitulotrabajos {
  position: relative;
  top: 40px;
  left: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.buscatrab {
  position: relative;
  float: right;
  right: 50px;
  top: 1250px;
  height: 80px;
  width: 400px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  background-color: rgb(206, 238, 255);
  font-size: 24px;
  background-image: linear-gradient(to right, lightblue, yellow);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.filtrartrabajos{
  position: relative;
  left: 1400px;
  padding: 8px;
  font-size: 17px;
  border: 1px solid #ccc;
  background-color: #b3b3b3ee;
  width: 350px;
  display: flex;
  gap: 25px;
} 

.cardsempleos {
  top: 30px;
  left: 100px;
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px;
  gap: 30px;
}

.cardfoto{
  max-height: 170px;
} 

.enviarcv {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/*Componente CV */
.filtrarcandidatos{
  position: relative;
  left: 750px;
  padding: 8px;
  font-size: 17px;
  border: 1px solid #ccc;
  background-color: #b3b3b3ee;
  width: 400px;
  display: flex;
  gap: 25px;
} 


.cardscandi {
  top: 50px;
  left: 150px;
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px;
  gap: 20px;
}

.englobador {
  float: right;
  background-color: rgb(189, 225, 225);
  position: absolute;
  font-size: 20px;
  padding: 50px;
  border: solid;
  border-color: black;
  border-radius: 10px;
  font-family: sans-serif;
  box-sizing: content-box;
  width: 800px;
  height: 570px;
  right: 450px;
  top: 830px;
}

.cv {
  font-size: 35px;
  position: relative;
  bottom: 30px;
}

.submit {
  border-radius: 5px;
  background-color: yellow;
}

.rectangulo {
  text-align: center;
  background-color: black;
  width: 1200px;
  height: 3px;
  position: relative;
  top: 615px;
  left: 360px;
}

.labels{
  position: relative;
  bottom: 30px;
}

.errores {
  color: rgb(255, 0, 0);
  hyphens: auto;
  position: absolute;
  left: 340px;
  top:170px;
  text-decoration: underline;
}