.Titulo {
  height: 110px;
  width: 1862px;
  background-image: linear-gradient(to right, lightblue , yellow);
  font-size: 30px;
  top: -5%;
  left: 0%;
 border: solid;
 border-color: black;
}

.titulo2{
  font-size: 30px;
  top: 4%;
  left: 40%;
  opacity: 70%;
position: absolute;
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: underline;
color: rgb(0, 0, 0);
}

.infociudad{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
top: -350px;
left: 25px;
}

  .Footer{
background-color: black;
color: white;
position: absolute;
top: 1300px;
height: 825px;
opacity: 80%;
border: solid;
border-color: grey;
width: 1862px;
}

.Footer2{
  background-color: black;
  color: white;
  position: absolute;
  top: 1120px;
  height: 800px;
  opacity: 80%;
  border: solid;
  border-color: grey;
  width: 1862px;
  }

body{
  background-color:rgb(213, 255, 213);
}

.boton{
  position: relative;
  background-image: linear-gradient(to right, lightblue , yellow);;
  height: 60px;
  width: 300px;
left: 1350px;
top: -1050px;

}

.imagen1{
  position: relative;
  bottom:864px;
  left: 1400px;
  width:400px;
 height:380px;
border-radius: 5px;
border:solid ;
border-color: black;
}

.imagen2{
  position: relative;
  left: -370px;
  border-radius: 5px;
  border:solid ;
  border-color: black;
  width:1100px;
 height:550px;
top: -340px;
}
.rectangulo{
  background-color: black;
  width: 1830px;
  height: 3px;
  position: relative;
  top: -370px;
left: 15px;
}

.rectangulo2{
  background-color: black;
  width: 5px;
  height: 20px;
  position: relative;
  top: 32px;
left: -15px;
}

.rectangulo3{
  background-color: black;
  width: 3px;
  height: 340px;
  position: relative;
  top: 365px;
left: 1300px;
}

.rectangulo4{
  background-color: black;
  width: 1830px;
  height: 4px;
  position: relative;
  left: 15px;
  bottom: 935px;
}

.rectangulo5{
  background-color: black;
  width: 1830px;
  height: 4px;
  position: relative;
  left: 15px;
  bottom: 870px;
}

.mun{
  position: relative;
  text-align: center;
  left: 15px;
  bottom: 900px;
  font-size: 25px;
}




.empleos{
  position: relative;
text-align: center ;
  bottom: 890px;
  left: 1150px;
  background-color: antiquewhite;
  width: 700px;
  height: 550px;
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  border-color: black;
  border: solid;
}

.escudo{
  position: absolute;
  right: 15px;
  height: 200px;
  width: 100px;
}

.trabajos{
text-align: center;
width: 851px;
height: 280px;
background-color: lightblue;
position: relative;
left: 50px;
font-size: 35px;
border: solid;
border-color: rgb(83, 83, 83);
border-radius: 1%;
}
.trabajos-container2{
position: relative;
bottom: 851px;
right: 100px;
float: right;
}

.trabajos-container1{
  position: relative;
  top: 37px;
}

.datos{
  text-align: left;
  position: relative;
  left:10px ;
  font-size: 22px;
}

.imgtrabajos{
  position: absolute;
  bottom: 60px;  
  left: 550px;
  height: 200px;
  width: 270px;
border: solid;
border-color: black;
}

.botoncv{
  position: absolute;
  text-align: center;
  right: 25px;
  bottom: 6px;
  width: 270px;
  height: 53px;
  border-radius: 5px;
  border-color: black;
  border: solid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(206, 238, 255);
}