.Titulo {
  height: 110px;
  width: 1862px;
  background-color: rgb(48, 181, 221);
  color: rgb(0, 0, 0);
  font-size: 30px;
  top: -1%;
  left: 0%;
  border-radius: 15px;
}

.titulo2{
  font-size: 30px;
  top: 4%;
  left: 40%;
  opacity: 60%;
position: absolute;
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: underline;
}